selenium
selenium-requests
# selenium.webdriver.chrome.options
pymongo
flask
mintapi
certifi
pytz
setuptools
keyring
attrs
path
more-itertools
click
importlib-metadata
zipp
filelock
tldextract
idna
jaraco.classes
Jinja2
charset-normalizer
requests
python-dateutil
pyotp
sortedcontainers
oathtool
dnspython
Werkzeug
autocommand
Flask
itsdangerous
MarkupSafe
urllib3
numpy
six
async-generator
PySocks
ConfigArgParse=="1.5.3"
# pandas
requests-filelock
sniffio
outcome
wsproto
wheel
trio
h11
xmltodict
trio-websocket